<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wsfmn.view">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.provide.gsf.permission.READ_GSERVICES" />

    <application
        android:name="com.wsfmn.controller.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HabitHistoryActivity"
            android:parentActivityName=".MainActivity"
            android:label="Habit Event History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HabitListViewActivity"
            android:parentActivityName=".MainActivity"
            android:label="View All Habits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HabitListViewDetailActivity"
            android:parentActivityName=".HabitListViewActivity"
            android:label="Habit Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNewHabitActivity"
            android:parentActivityName=".HabitListViewActivity"
            android:label="Add New Habit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HabitsForTodayActivity"
            android:parentActivityName=".MainActivity"
            android:label="Today\'s Habits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="HabitTracker User Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserNameActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FriendActivity"
            android:parentActivityName=".ProfileActivity"
            android:screenOrientation="portrait" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNewHabitEventActivity"
            android:label="Add New Habit Event"
            android:parentActivityName=".HabitHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddLocationActivity"
            android:parentActivityName=".AddNewHabitEventActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SelectHabitActivity" />
        <activity android:name=".ImageActivity" />
        <activity
            android:name=".HabitHistoryDetailActivity"
            android:parentActivityName=".HabitHistoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".FriendHabitActivity" />
        <activity android:name=".FriendHabitEventActivity"></activity>
    </application>

</manifest>